<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/jpg" href="../static/favicon.ico">
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css?ts=<?php echo time(); ?>" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../static/css/cover.css" rel="stylesheet">
  </head>
  
  <body class="d-flex h-100 text-center text-white bg-dark">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <div>
          <h3 class="float-md-start mb-0">Salary Calculator</h3>
          <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link" href={{ url_for("home") }}>Home</a>
            <a class="nav-link" href={{ url_for("contact") }}>Contact</a>
          </nav>
        </div>
      </header>

      {% block content %}{% endblock %}

      <footer class="mt-auto text-white-50">
        <p>Developed for testing.</p>
      </footer>
    </div>
    
    
        
  </body>
</html>