{% extends "base.html" %}

{% block title %}Home{% endblock %}
    
{% block content %}
  <main class="px-3">
    <h1>Salary Calculator</h1>
    <p class="lead">Please fill in the sections below and hit Submit.</p>
    {% if error %}
      <p>{{ error }}</p>
    {% endif %}
    <form method="POST">
      <input name="salary" placeholder='Enter salary here (£)'>
      <input name="pension" placeholder='Pension contributions (%)'>
      <br><br>
      <input class="btn btn-lg btn-secondary fw-bold border-white bg-white" type="submit" value="Submit">
    </form>
  </main>
{% endblock %}
